.b{
    text-align: center;
    font-size: 50px;
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: aqua;
    border-radius:  200px;
    border: 2px solid black;
}
