    .Container {
      display: grid;
      grid-template-columns: repeat(3,80px);
      grid-template-columns: repeat(3,80px);
      gap: 0;
      border: 2px solid black;
      width: max-content;
      margin: 10px;
      margin-top: 2px;
    }

    .box {
      background: lightcyan;
      border: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: arial, sans-serif;
      font-size: 14px;
    }

    .middle {
      background: lightcoral;
      border: 1px solid black;
      text-align: left;
      font-family: bold;
      margin-left: 10px;
      background-color: aquamarine;
    }

    .middle p {
      margin-left: 5px;/* the 5px left margin */
    }